<div class="movie-list">
  <div *ngFor="let movie of movies" class="movie-item">
    <div class="movie-info">
      <h3 class="movie-title">{{ movie.title }}</h3>
      <div class="movie-details">
        <p class="movie-release-date">
          <strong>Release date :</strong> {{ movie.release_date }}
        </p>
        <p class="movie-budget">
          <strong>Budget :</strong>{{ movie.budget | budget }}
        </p>
        <p class="movie-duration">
          <strong>Duration :</strong>
          {{ movie.duration.toString() | durationFormat }}
        </p>
      </div>
    </div>
    <div class="movie-actions">
      <button
        (click)="goToMovieDetails(movie.id)"
        [id]="movie.id"
        class="details-button"
      >
        Details
      </button>
    </div>
  </div>
</div>
